{erl_opts, [
    {i, "include"}
]}.

{plugins, [
    {erlfmt, {git, "git@github.com:nomasystems/erlfmt.git", {tag, "v1.0.0"}}}
]}.
{erlfmt, [write]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer
    ]},
    {test, [
        {ct, "--spec test/conf/test.spec --cover --readable true"}
    ]},
    {ci_test, [
        {ct, "--spec test/conf/ci_test.spec --cover --readable true"}
    ]}
]}.

{profiles, [
    {test, [
        {deps, [
            {nct_util, {git, "git@github.com:nomasystems/nct_util.git", {branch, "main"}}}
        ]}
    ]},
    {bench, [
        {deps, [
            {bson, {git, "git@github.com:comtihon/bson-erlang.git", {branch, "master"}}},
            {erlperf, {git, "git@github.com:nomasystems/erlperf.git", {branch, "master"}}}
        ]}
    ]},
    {bin_opt_info, [
        {erl_opts, [
            bin_opt_info
        ]}
    ]}
]}.

{cover_opts, [verbose]}.
{cover_enabled, true}.

{xref_ignores, [nbson]}.
