{erl_opts, [
    warnings_as_errors
]}.

{project_plugins, [
    {erlfmt, {git, "git@github.com:WhatsApp/erlfmt.git", {branch, "main"}}},
    {gradualizer, {git, "git@github.com:josefs/Gradualizer.git", {branch, "master"}}}
]}.
{erlfmt, [write]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer,
        gradualizer
    ]},
    {test, [
        {ct, "--spec test/conf/test.spec --cover --readable true"}
    ]},
    {ci_test, [
        {ct, "--spec test/conf/ci_test.spec --cover --readable true"}
    ]}
]}.

{profiles, [
    {test, [
        {deps, [
            {nct_util, {git, "git@github.com:nomasystems/nct_util.git", {branch, "main"}}}
        ]}
    ]}
]}.

{cover_opts, [verbose]}.
{cover_enabled, true}.

{xref_ignores, [nbson]}.
